.card{
    float: left;
    margin: 2rem;
    width: 14rem;
}
.container{
    margin-left: 0;
    width: max-content;
  }
.NPS{
    display: unset;
    overflow-x: scroll;
    width: 36em;
}
#pie{
    height: 400px;
    margin: 0 auto;
}        
   