#menuroll ul .nav-link a{
    display: none;
}

#menuroll ul a{
    color: black;    
}

#menuroll ul a:hover{
    border: solid white;
    color: white;
    font-family: helvetica;
}

#menuroll{
    position: absolute;
    // top: 74px;
    width: 4em;
    height: 100vh;
    background: #2D3E50;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
    z-index: 1;
    background-color: aliceblue;
    border-right: solid 1px black;
}

#menuroll ul{
    text-align: center;
    padding: 0px;
    margin-top: 4em;
}

#menuroll li{
    list-style: none;
    padding: 16px;
    cursor: pointer;
    transition: all 300ms;
    display: block;
}

#menuroll:hover{
    width: 234px;
    ul .nav-link a{
        display: contents;
    }
}      
   