.primera{
    background-color: #2d3436;
    padding: .1rem 1rem;
    box-sizing: border-box;
    box-shadow:  0px 2px 3px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    #one{
        margin-right: 1em;
        padding: unset;
    }
    .navbar-brand:hover{
        color:  orangered;
    }
    .navbar-brand{
        color: white;
        position: absolute;
        left: 47%;
        z-index: 5;
    }
    :hover{
        text-decoration: unset;
    }
    a{
        color: white;
    }
}

.navbar-expand{
    justify-content: unset;
}

.flex-column{
    flex-direction: row !important;
    z-index: 4;
}
