.primera{
    background-color: #2d3436;
    padding: .1rem 1rem;
    .navbar-brand:hover{
        color: #f39c12;
    }
    .navbar-brand{
        color: white;
        position: absolute;
        left: 47%;
        z-index: 5;
    }
    :hover{
        text-decoration: unset;
        color: #56ee38;
    }
    a{
        color: white;
    }
}

.navbar-expand{
    justify-content: unset;
}

.flex-column{
    flex-direction: row !important;
    z-index: 4;
}
