#rush{
    width: 212px
}

.makeStyles-root-1{
    margin-left: 4em;
    height: 100vh !important
}

.container{
    margin-right: 0;
    margin-left: 0;
    padding-left: unset
}

button{
    border-color: black;
    background-color: transparent;
    border-radius: 50%
}